.watch{
    height: 50vh;
    width: 23vw;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
     align-self: center;
}